.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #16a596;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0   #898b8a;
  font-size: 6rem;
  color:#e0ece4;
}

p {
  font-size: 2rem;
  color: #e0ece4;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
footer:hover{
  color: #892cdc;
}